html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.connect {
  width: 240px;
  height: 240px;
  position: absolute;
  left: 50%;
  top: 68%;
  margin-left: -120px;
  margin-top: -120px;
}

.connect img {
  width: 100%;
}

.connect:active {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}

.swiper {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 60%;
  margin-left: -150px;
  margin-top: -150px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.logo {
  position: absolute;
  left: 50%;
  top: 33%;
  margin-left: -150px;
  margin-top: -150px;
  display: flex;
  justify-content: center;
}

.logo img {
  width: 100%;
  max-width: 300px;
}

.alert {
  background-color: greenyellow;
  position: absolute;
  top: 1%;
  width: 80%;
  height: auto;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: medium;
  text-align: center;
}

.hidden {
  visibility: hidden;
}